/* typography */

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

/* body */
.signup-link {
  margin-top: 14px;
}

/* Sign up */
.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
  margin-bottom: 50px;
}