/* typography */

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

/* body */
.signup-link {
  margin-top: 14px;
}

/* user-info-table */
.user-table {
  vertical-align: middle;
  text-align: center;
}

/* user-attendance-info */
#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

/* input-form */
.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* All users */
#table-users {
  td{
    vertical-align: middle;
  }
}

/* Edit basic into */
.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}

/* Edit attendances */
.btn-users-show{
  margin-top: -10px;
  margin-bottom: 10px;
}

